.root {
    -fx-background-color: #47a8b2;
}

#title {
    -fx-font-size: 30;
    -fx-font-family: "Agency FB";
}

.text-field {
    -fx-max-width: 200;
}

.button {
    -fx-background-radius: 20;
    -fx-background-color: blue;
    -fx-pref-width: 75;
    -fx-pref-height: 35;
    -fx-font-size: 12;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-border-radius: 15;
}
